.h1 {
    color: var(--primary-text);
    margin: 0px;
    font-family: 'GFS Didot';
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    -webkit-text-stroke: 2px rgba(188, 182, 182, 0.5);
}
