.main__md8 {
    font-family: 'GFS Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-right: 54px;
    padding-left: 46px;
}